.global-header {
  position: sticky;
  top: 0;
  height: 64px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.08);
  border: 1px none #000;
  transition: all 0.3s ease-out;
  z-index: 99;
}
.selector-wrapper {
  position: relative;
  background-color: #fff;
  .selector-label {
    color: var(--text_primary);
  }
  .selector-list {
    position: absolute;
    top: 36px;
    left: 50%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.08);
    border: 1px none var(--text_primary);
    border-radius: 4px;
    transition: all 0.2s ease-out;
    transform: translateX(-50%);
    transform-origin: top center;
    overflow: hidden;
    z-index: 999;
    .list-items {
      display: block;
      padding: 8px 0;
      width: 136px;
      text-align: center;
      font-size: var(--font_body_medium);
      color: var(--text_primary);
      background-color: var(--gradient_100);
      &:hover {
        color: var(--gradient_100);
        background-color: var(--secondary);
      }
    }
    &.active {
      transform: scaleY(100%) translateX(-50%);
    }
    &.close {
      transform: scaleY(0) translateX(-50%);
      transition-delay: 0.1s;
    }
  }
  .icon-arrow {
    transition: all 0.2s ease-out;
    &.active {
      transform: rotate(180deg);
    }
    &.close {
      transform: rotate(0deg);
      transition-delay: 0.1s;
    }
  }
}
.nav-outer {
  display: block;
  height: 64px;
  margin: auto;
  padding: 20px;
  align-self: auto;
  order: 0;
  flex: 0 auto;
  border: 1px none #000;
  background-color: #fff;
  box-shadow: none;
  -o-object-fit: fill;
  object-fit: fill;
  .nav {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: start;
    flex: 0 auto;
    grid-auto-flow: column dense;
    grid-auto-columns: max-content;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr max-content;
    grid-template-rows: auto;
    max-width: 900px;
    width: 100%;
    padding: 0px;
  }
  .logo {
    display: flex;
    align-items: start;
    justify-content: start;
    justify-self: start;
    height: 24px;
    img {
      height: 100%;
      object-fit: contain;
    }
  }
  .selector-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 4px;
    .selector-label {
      font-size: 14px;
      color: var(--text_primary);
    }
  }
  .menu-list-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
  }
  .menu-list {
    color: var(--text_primary);
    font-size: 16px;
    cursor: pointer;
    .menu-list-items {
      color: #9a9a9a;
      &.nav-list-active {
        position: relative;
        color: var(--text_primary);
        &:after {
          content: "";
          display: block;
          position: absolute;
          bottom: -4px;
          left: 50%;
          transform: translateX(-50%);
          width: 20px;
          height: 2px;
          background-color: #00b4d8;
          border-radius: 4px;
        }
      }
    }
  }
  .select_language {
    display: none;
    margin-right: 16px;
  }
  .nav-list-open {
    grid-template-columns: 1fr;
  }
}
.menu-buttom {
  display: none;
  position: absolute;
  top: -20px;
  right: -16px;
  cursor: pointer;
}
.ham {
  transition: transform 400ms;
  user-select: none;
}
.line {
  fill: none;
  transition:
    stroke-dasharray 400ms,
    stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham8 {
  display: block;
  .top {
    stroke-dasharray: 40 160;
  }
  .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
  }
  .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition:
      transform 400ms,
      stroke-dashoffset 400ms;
  }
  &.menu-open {
    .top {
      stroke-dashoffset: -64px;
    }
    .middle {
      transform: rotate(90deg);
    }
    .bottom {
      stroke-dashoffset: -64px;
    }
  }
}
.hamRotate {
  &.menu-open {
    transform: rotate(45deg);
  }
}
@media screen and (min-width: 768px) {
  .nav-outer {
    .menu-list {
      .menu-list-items {
        &:hover {
          color: var(--text_primary);
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .menu-close-trigger {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: 0;
  }
  .nav-outer {
    position: relative;
    height: unset;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.08);
    border: 1px none #000;
    z-index: 1;
    .nav {
      grid-auto-flow: unset;
      grid-template-columns: repeat(1, 1fr 95px 40px);
    }
    .menu-list-wrapper {
      display: none;
    }
    .menu-list {
      .menu-list-items.nav-list-active {
        color: var(--primary);
        &:after {
          display: none;
        }
      }
    }
    .selector-wrapper {
      justify-content: flex-end;
    }
    .nav-list-open {
      &.menu-list-wrapper {
        display: flex;
        position: absolute;
        top: 44px;
        gap: 0;
        right: 0;
        flex-direction: column;
        transition: all 0.2s ease-out;
        transform-origin: top center;
        transform: scaleY(100%);
        background-color: var(--gradient_100);
        .menu-list {
          padding: 12px 10px;
        }
      }
    }
    .menu-buttom {
      display: block;
    }
  }
}
