:root {
	--font_default: 16px;
	--font_card_subtitle: 12px;
	--font_title: 28px;
	--font_subtitle: 24px;

	--primary: #3da9fc;
	--secondary: #90b4ce;
	--tertiary: #ef4565;
	--text_primary: #5f6c7b;
	--text_secondary: #094067;
	--text_tertiary: #fffffe;
	--stroke: #094067;
	--alert: #ef4565;
	--bg-primary: #fffffe;
	--bg-secondary: #d8eefe;
	--bg_footer: #eaeaea;
}