// @use "sass:math";
// @function opacity-to-hex($hexColor, $opacity) {
// 	$alpha: $opacity / 100; // Convert percentage to decimal value

// 	$alphaHex: floor($alpha * 255); // Calculate the alpha value in hexadecimal

// 	$hexAlpha: str-pad(str-slice($alphaHex, 1), 2, "0"); // Convert the alpha value to a two-digit hexadecimal

// 	@return $hexColor + $hexAlpha;
// }
$primary: #3da9fc;
$secondary: #90b4ce;
$tertiary: #ef4565;
$text_primary: #5f6c7b;
$text_secondary: #094067;
$neutral: #353855;
:root {
  --font_label-small: 12px;
  --font_body_small: 14px;
  --font_body_medium: 16px;
  --font_title_small: 20px;
  --font_title_medium: 24px;
  --font_title_large: 28px;
  --font_headline_medium: 32px;
  --font_headline_large: 36px;
  --font_display_small: 20px;
  --font_display_large: 42px;

  --primary: #3da9fc;
  --primary_50: #{rgba($primary, 50%)};
  --secondary: #90b4ce;
  --tertiary: #ef4565;
  --neutral: #{$neutral};
  --tertiary_30: #{rgba($tertiary, 30%)};
  --text_primary: #{$text_primary};
  --text_primary_70: #{rgba($text_primary, 70%)};
  --text_secondary: #{$text_secondary};
  --text_tertiary: #fffffe;
  --stroke: #{$text_secondary};
  --alert: #ef4565;
  --bg_primary: #fffffe;
  --bg_secondary: #d8eefe;
  --bg_tertiary: #ffe5d9;
  --bg_footer: #eaeaea;
  --gradient_100: #fff;
  --gradient_50: #808080;
  --gradient_60: #ededed;
  --gradient_30: #b3b3b3;
  --gradient_20: #ededed;
  --gradient_10: #041a29;
  --gradient_00: #000000;
}
